<div class="contacto-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'contacto.jpg'%>);background-size:cover;background-position: center;" class="v-contacto-img"></div>
			<div class="v-contacto-opacidad"></div>
		<div class="v-contacto">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-contacto-titulo">Contacto</h1>
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>

	<div class="ed-container informacion">
		<div class="ed-item s-100 l-50 informacion-izquierda">
			<h3 class="informacion-titulo">Como encontrarnos</h3>
			<p class="informacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum sit unde sed, nam facere molestiae provident veritatis?</p>
			<div class="datos">
				<span class="datos-titulo">Oficina Central</span>
				<p class="datos-direccion">Calle las Dalias D1-5 Interior 101 Urb. Miiraflores</p>
				<p class="datos-telefono"><span class="datos-atributo">Telefono: </span>968499806 / (RPM) *186163</p>
				<p class="datos-email"><span class="datos-atributo">Email:</span> williarhidalgo@gmail.com</p>
			</div>
		</div>
		<div class="ed-item s-100 l-50 no-padding informacion-derecha">
			<div class="ed-item s-100 " style="background: #fff;">
					<%if flash[:correcto]%>
						<div class="notificacion ">
							<div class="notificacion-cerrar">x</div>
							<p class="notificacion-texto"><%=flash[:correcto]%></p>
						</div>
					<%elsif flash[:errors]%>
						<div class="notificacion">
							<div class="notificacion-cerrar">x</div>
							<p class="notificacion-texto">No se pudo enviar el mensaje, por favor corrige los siguientes problemas:</p>
							<ul class="notificacion-lista">
								<% flash[:errors].each do |key, value| %>
									<li class="notificacion-item"><span class="notificacion-clave"><%=key%></span> - <%=value%></li>
								<% end %>
							</ul>
						</div>
					<%end%>
			</div>
			<div class="ed-item s-100">
				<h3 class="informacion-titulo">Envianos un mensaje</h3>
			</div>
			<%=form_for @contacto, url: contacto_path, html: { class: "informacion-formulario ed-container ed-item"} do |f|%>
				<div class=" ed-item s-100 formulario-caja">
					<label for="" class="formulario-label">Nombre Completo</label>
					<%=f.text_field :nombres,{class:"formulario-text",placeholder:"Nombre Completo"}%>
				</div>
				<div class=" ed-item s-100 l-50 formulario-caja">
					<label for="" class="formulario-label">Email</label>
					<%=f.email_field :email,{class:"formulario-text",placeholder:"Email"}%>
				</div>
				<div class=" ed-item s-100 l-50 formulario-caja">
					<label for="" class="formulario-label">Telefono/Celular</label>
					<%=f.text_field :telefono,{class:"formulario-text",placeholder:"Telefono/Celular"}%>
				</div>
				<div class=" ed-item s-100 formulario-caja">
					<label for="" class="formulario-label">Mensaje</label>

					<%=f.text_area :mensaje,{class:"formulario-textarea",placeholder:"Mensaje",rows:"10"}%>
				</div>
				<div class="formulario-caja ed-item s-100">
				<button class="btn btn-4" style="color:red"><span>Enviar</span></button>
				</div>
			<%end%>
		</div>
	</div>

	<div class="ed-container full">
		<div class="mapa-google" id="mapa-google">
			
		</div>
	</div>
</div>
<%=javascript_include_tag "contacto.js"%>