<div class="ed-container full index">
		<div class="ed-item s-100 ed-container full banner " style="height: 70vh">
			<div class="banner-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:cover;background-position:top center;background-attachment: scroll">
				
			</div>
			<div class="banner-opacidad"></div>
			<div class=" ed-item s-100 m-80 l-70 xl-100 banner-contenedor-texto">
				<h2 class="banner-titulo">Esta es una frase increible</h2>
				<h1 class="banner-subtitulo">Esta es un caracteristica importante</h1>
			</div>
			<div class="ed-item s-100 banner-contenedor-btn">
				<a href="/contacto" class="btn banner-btn btn-4 "><span>Contáctanos</span></a>
			</div>
		</div>
		
		<%if !@servicios_global.nil?%>
		<div class="ed-item s-100 ed-container full servicios-contenedor abcenter ">
			<div class="ed-item s-100 m-90 l-70 xl-60">
				<h3 class="servicios-titulo">Servicios</h3>
			</div>
				<div class="ed-item s-100 m-90 l-70 xl-60 servicios">
					
					<%@servicios_global.each do |servicio|%>
						<div class="servicio-item abcenter">
							<div class="servicio-fondo" style="background:url(<%=servicio.imagen_url%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
							</div>
							<div class="servicio-opacidad">
							</div>
							<h4 class="servicio-texto"><%=servicio.nombre%></h4>
							<% subservicios_coincidentes=@subservicios.select{|item| item.servicio_id== servicio.id }%>
							<%if subservicios_coincidentes.size>0%>
								<ul class="servicio-lista">
									<%subservicios_coincidentes.each do |subservicio| %>
										<li class="servicio-lista-item">
											<a href="/servicios/<%=servicio.id%>/subservicios/<%=subservicio.id%>" class="servicio-lista-link"><%= subservicio.nombre%></a>
										</li>
									<%end%>
								</ul>
							<%end%>
						</div>
					<%end%>

					<!--
					<div class="servicio-item abcenter">
						<div class="servicio-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
						</div>
						<div class="servicio-opacidad">
						</div>
						<h4 class="servicio-texto">Capacitación</h4>
						<ul class="servicio-lista">
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
						</ul>
					</div>

					<div class="servicio-item abcenter">
						<div class="servicio-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
						</div>
						<div class="servicio-opacidad">
						</div>
						<h4 class="servicio-texto">Consultoría</h4>
						<ul class="servicio-lista">
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
						</ul>
					</div>

					<div class="servicio-item abcenter">
						<div class="servicio-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
						</div>
						<div class="servicio-opacidad">
						</div>
						<h4 class="servicio-texto">Encuestas</h4>
						<ul class="servicio-lista">
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
						</ul>
					</div>

					<div class="servicio-item abcenter">
						<div class="servicio-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
						</div>
						<div class="servicio-opacidad">
						</div>
						<h4 class="servicio-texto">Investigación</h4>
						<ul class="servicio-lista">
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
						</ul>
					</div>

					<div class="servicio-item abcenter">
						<div class="servicio-fondo" style="background:url(<%=asset_path 'img-header.jpg'%>);background-size:50%;background-position:top center;background-attachment: scroll;"">
						</div>
						<div class="servicio-opacidad">
						</div>
						<h4 class="servicio-texto">Proyectos</h4>
						<ul class="servicio-lista">
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
							<li class="servicio-lista-item">
								<a href="" class="servicio-lista-link">Lorem ipsum dolor sit amet,  repellat numquam accusantium.</a>
							</li>
						</ul>
					</div>

				</div>
				-->

		</div>
		<%end%>

		<div class="ed-item s-100 ed-container full empresas-contenedor abcenter ">
			<div class="ed-item s-100 m-90 l-70 xl-60 empresas slick-parent-empresas">
				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-uno.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-dos.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-tres.png'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-cuatro.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-cinco.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
					<span></span>
					<img src=<%=asset_path 'logo-seis.png'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
				<span></span>
					<img src=<%=asset_path 'logo-siete.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
				<span></span>
					<img src=<%=asset_path 'logo-ocho.jpg'%> alt="" class="empresa-img">
				</div>

				<div class="empresa-contenedor">
				<span></span>
					<img src=<%=asset_path 'logo-nueve.png'%> alt="" class="empresa-img">
				</div>
			</div>
		</div>
		
		<div class="ed-item s-100 ed-container full anuncios abcenter ">
			<div class="ed-item s-100 m-90 l-70 xl-60 ed-container anuncios-contenedor ">
				<div class="ed-item s-100 m-100 l-2-3 ">
					<div class="anuncios-cabecera">
						<h2 class="anuncios-cabecera-titulo">Publicaciones</h2>
						<h3 class="anuncios-cabecera-parrafo">Aqui debe encontrarse algun texto realcionado a los anuncios que encuentra el visitantte</h3>
						<a href="/publicaciones" class="anuncios-cabecera-link">Ver más</a>
					</div>
				</div>
				<div class="ed-item s-100 m-50 l-1-3 " >
					<div class="anuncio">
						<div class="anuncio-cabeza">
							<a class="anuncio-imagen" href="#" style="background: url(<%=asset_path 'img-header.jpg'%>);background-size:cover;background-position:center;"></a>
							<span class="anuncio-categoria">Noticia</span>
						</div>
						<div class="anuncio-cuerpo">
							<h4 class="anuncio-titulo"><a href="#">Titulo de anuncio un poco mas extenso</a></h4>
							<p class="anuncio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi</p>
							<span class="anuncio-fecha">12-05-2016</span>
						</div>
					</div>
				</div>

				<div class="ed-item s-100 m-50 l-1-3 " >
					<div class="anuncio">
						<div class="anuncio-cabeza">
							<a class="anuncio-imagen" href="#" style="background: url(<%=asset_path 'img-header.jpg'%>);background-size:cover;background-position:center;"></a>
							<span class="anuncio-categoria">Noticia</span>
						</div>
						<div class="anuncio-cuerpo">
							<h4 class="anuncio-titulo"><a href="#">Titulo de anuncio un poco mas extenso</a></h4>
							<p class="anuncio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi</p>
							<span class="anuncio-fecha">12-05-2016</span>
						</div>
					</div>
				</div>

				<div class="ed-item s-100 m-50 l-1-3 " >
					<div class="anuncio">
						<div class="anuncio-cabeza">
							<a class="anuncio-imagen" href="#" style="background: url(<%=asset_path 'img-header.jpg'%>);background-size:cover;background-position:center;"></a>
							<span class="anuncio-categoria">Noticia</span>
						</div>
						<div class="anuncio-cuerpo">
							<h4 class="anuncio-titulo"><a href="#">Titulo de anuncio un poco mas extenso</a></h4>
							<p class="anuncio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi</p>
							<span class="anuncio-fecha">12-05-2016</span>
						</div>
					</div>
				</div>

				<div class="ed-item s-100 m-50 l-1-3 " >
					<div class="anuncio">
						<div class="anuncio-cabeza">
							<a class="anuncio-imagen" href="#" style="background: url(<%=asset_path 'img-header.jpg'%>);background-size:cover;background-position:center;"></a>
							<span class="anuncio-categoria">Noticia</span>
						</div>
						<div class="anuncio-cuerpo">
							<h4 class="anuncio-titulo"><a href="#">Titulo de anuncio un poco mas extenso</a></h4>
							<p class="anuncio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi</p>
							<span class="anuncio-fecha">12-05-2016</span>
						</div>
					</div>
				</div>
				
			</div>
		</div>
</div>

