<div class="publicacion-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<!--<div style="background:url(<%=asset_path 'publicacion.jpg'%>);background-size:cover;background-position: center;" class="v-publicacion-img"></div>-->
			<div class="v-publicacion-opacidad"></div>
		<div class="v-publicacion">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-publicacion-titulo">Publicaciones</h1>
				</div>
			</div>
			<!--<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>-->
		</div>
	</div>

	<div class="ed-container ">
		<div class="ed-container ed-item s-100  cross-center busqueda ">
			<form action="/publicaciones" method="get">
				<h2 class="busqueda-titulo">Busqueda</h2>
				<input type="text" name="query" class="formulario-text busqueda-filtro" placeholder="Ingresa un texto que buscar" style="margin-right: 1em;" value="<%=params[:query]%>">
				
				<div class="select select-m busqueda-combo ">
				    <span class="arr"></span>
				    <%=select_tag "category", options_from_collection_for_select(@categorias, "id", "nombre",:selected => params[:category]),prompt:'Selecciona Categoria'%>
				</div>
				<input type="submit" class="btn busqueda-boton" value="Buscar">
			</form>
		</div>


		<div class="ed-item s-100 l-65 no-padding">
			<div class="publicaciones">
				<%if !@publicaciones.empty? %>
				<%= paginate(@publicaciones)%>
					<%@publicaciones.each do |pub|%>
						<div class="publicacion">
							<div class="publicacion-imagen" style="background: url(<%=pub.imagen_url%>);background-size:cover;background-position: center;">
								<a href="/publicaciones/<%=pub.id%>" class="publicacion-enlace"></a>
								<span class="publicacion-categoria"><%=pub.category.nombre%></span>
							</div>
							<div class="publicacion-contenido">
								<a href="/publicaciones/<%=pub.id%>" class="publicacion-titulo"><%=pub.titulo%></a>
								<strong class="publicacion-fecha"><%= l(pub.created_at,format: :long)%></strong>
								<div class="publicacion-texto"><%= raw(pub.contenido.mb_chars.limit(200).to_s)%></div>
							</div>
						</div>
					<%end%>
					<%= paginate(@publicaciones)%>
				<%else%>
				<p>No se encontraron coincidencias!</p>
				<%end%>

			</div>
		</div>

		<div class="ed-item s-100 l-35">
			<div class="contacto">
				<h2 class="contacto-titulo">¿Necesitas más información?</h2>
				<div class="enlaces">
					<a href="/contacto" class="enlace">
						<span class="enlace-titulo">Ubicanos</span>
						<p class="enlace-texto">Todo lo que necesitas saber de los lideres en la industria </p>
					</a>

					<a href="/recursos" class="enlace">
						<span class="enlace-titulo">Desarrolla tu Talento</span>
						<p class="enlace-texto">Los temas de materia institucional 100% disponibles</p>
					</a>

					<a href="/suscribir" class="enlace">
						<span class="enlace-titulo">Entérate</span>
						<p class="enlace-texto">Nuestras publicaciones en tu bandeja de email a un solo click</p>
					</a>

					<a href="/postular" class="enlace">
						<span class="enlace-titulo">Postula</span>
						<p class="enlace-texto">Nuestro staff necesita talentos como tú</p>
					</a>
				</div>
			</div>
			
		</div>
		</div>

	
</div>