<div class="show-publicacion-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=(@publicacion_actual.imagen_url)%>);background-size:cover;background-position: center;" class="v-show-publicacion-img"></div>
			<div class="v-show-publicacion-opacidad"></div>
		<div class="v-show-publicacion">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-show-publicacion-titulo"><%=@publicacion_actual.titulo%></h1>
				</div>
			</div>
			<!--<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>-->
		</div>
	</div>

	<div class="ed-container " style="padding-bottom: 10px">
		<div class="ed-container ed-item s-100  cross-center busqueda ">
			<form action="/publicaciones" method="get">
				<h2 class="busqueda-titulo">Busqueda</h2>
				<input type="text" name="query" class="formulario-text busqueda-filtro" placeholder="Ingresa un texto que buscar" style="margin-right: 1em;" value="<%=params[:query]%>">
				
				<div class="select select-m busqueda-combo ">
				    <span class="arr"></span>
				    <%=select_tag "category", options_from_collection_for_select(@categorias, "id", "nombre",:selected => params[:category]),prompt:'Selecciona Categoria'%>
				</div>
				<input type="submit" class="btn busqueda-boton" value="Buscar">
			</form>
		</div>


		<div class="ed-item s-100 l-65 no-padding">
			<div class="informacion">

				<div class="datos">
				<span class="fecha"><%= l(@publicacion_actual.created_at,format: :long)%></span>
					<a href="/publicaciones?category=<%=@publicacion_actual.category_id%>" class="categoria"><%=@publicacion_actual.category.nombre%></a>
				</div>

				<div class="informacion-texto">
					<%= raw(@publicacion_actual.contenido)%>
				</div>
			</div>
			<div class="autor">
				<div class="autor-titulo">Publicado por:</div>
				<div class="autor-imagen" style="background:url(<%=(@publicacion_actual.equipo.imagen_url)%>);background-size:cover;background-position: top;"></div>
				<div class="autor-contenido">
					<p class="autor-nombre"><%=(@publicacion_actual.equipo.nombres)%> <%=(@publicacion_actual.equipo.apellidos)%></p>
					<p class="autor-rol"><%=(@publicacion_actual.equipo.correo)%></p>
				</div>
			</div>
		</div>

		<div class="ed-item s-100 l-35">
			<div class="contacto">
				<h2 class="contacto-titulo">¿Necesitas más información?</h2>
				<div class="enlaces">
					<a href="/contacto" class="enlace">
						<span class="enlace-titulo">Ubicanos</span>
						<p class="enlace-texto">Todo lo que necesitas saber de los lideres en la industria </p>
					</a>

					<a href="#" class="enlace">
						<span class="enlace-titulo">Desarrolla tu Talento</span>
						<p class="enlace-texto">Los temas de materia institucional 100% disponibles</p>
					</a>

					<a href="/suscribir" class="enlace">
						<span class="enlace-titulo">Entérate</span>
						<p class="enlace-texto">Nuestras publicaciones en tu bandeja de email a un solo click</p>
					</a>

					<a href="#" class="enlace">
						<span class="enlace-titulo">Postula</span>
						<p class="enlace-texto">Nuestro staff necesita talentos como tú</p>
					</a>
				</div>
			</div>
			
		</div>
		</div>

	
</div>