<div class="equipo-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'equipo.jpg'%>);background-size:cover;background-position: center;" class="v-equipo-img"></div>
			<div class="v-equipo-opacidad"></div>
		<div class="v-equipo">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-equipo-titulo">Nuestro equipo Profesional</h1>
					
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>
	<div class="ed-container v-equipo-contenido ">
		<div class="ed-item s-100 l-100 ">

			<div class="v-equipo-filtrado ed-container">
				<div class="ed-item s-100 main-end">
					<div class="select select-m v-equipo-filtrado-select">
				    <span class="arr"></span>
				    <select>
				      <option>Socios</option>
				      <option>Directores</option>
				      <option>Asociados</option>
				      <option>Analistas/Consultores</option>
				    </select>
				  </div>

				</div>
			</div>

			<h2 class="v-equipo-segundo-titulo">Socios</h2>
			<div class="v-equipo-equipo ed-container">
				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>
				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item2.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto ">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>
				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item3.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto ">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>

				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item3.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto ">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>
				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto ">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>
				<div class="ed-item v-equipo-equipo-item">
				<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
					<div class="v-equipo-equipo-item-imagen">
						<img src="<%=asset_path 'equipo-item.jpg'%>" alt="">
					</div>
					<a href="#" class="v-equipo-equipo-item-contacto ">
						<div class="v-equipo-equipo-item-contacto-item">Ver Perfil</div>
					</a>
					<div class="v-equipo-equipo-item-datos">
						<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">Fernando Palacios</a></p>
						<div class="v-equipo-equipo-item-datos--separador"></div>
						<p class="v-equipo-equipo-item-datos--rol">Senior Developer</p>
					</div>
				</div>
			</div>

			<div class="ed-container ed-item s-100 v-equipo-perfil ">
				<div class="ed-item s-100 m-100 l-40 v-equipo-perfil-izquierda">
					<img src="<%=asset_path 'equipo-item3.jpg'%>" alt="" class="v-equipo-perfil-img">
					
				</div>
				<div class="ed-item s-100 m-90 l-40 v-equipo-perfil-derecha">
					<h3 class="v-equipo-perfil-nombre">Jorge Fernando Palacios Sánchez</h3>
					<h4 class="v-equipo-perfil-rol">Software Developer</h4>
					<p class="v-equipo-perfil-descripcion">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Adipisci assumenda quas culpa quod cum vitae explicabo magnam veritatis magni, nisi natus perferendis cumque consequuntur, iusto itaque voluptate iure cupiditate ipsam!.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident possimus culpa quia consequuntur dolore, nostrum tempore? Dolores saepe laboriosam cupiditate sed, molestias fuga ut inventore, aliquam consectetur tempore autem ad!</p>
					<p class="v-equipo-perfil-descripcion">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Adipisci assumenda quas culpa quod cum vitae explicabo magnam veritatis magni, nisi natus perferendis cumque consequuntur, iusto itaque voluptate iure cupiditate ipsam!.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident possimus culpa quia consequuntur dolore, nostrum tempore? Dolores saepe laboriosam cupiditate sed, molestias fuga ut inventore, aliquam consectetur tempore autem ad!</p>

					<div class="v-equipo-perfil-contacto">
						<span class="contacto contacto-telefono">(073) 945636806</span>
						<span class="contacto contacto-email">fernandopalacios_s_26@hotmail.es</span>
					</div>
				</div>
			</div>

		</div>
		<!--
		<div class="ed-item s-100 l-25" style="border-left: rgba(221, 221, 221, 0.2) solid 2px;margin-top: 1em;}">
			<div class="v-equipo-menu-vertical">
				<h3 class="v-equipo-menu-vertical-cabecera"></h3>
				<ul class="v-equipo-menu-vertical-lista" id="vMenu-servicios">
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Socios</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Analistas</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Asociados</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Analistas / Consultores</a></li>
				</ul>
			</div>
		</div>
		-->
	</div>
</div>