<!DOCTYPE html>
<html>
<head>
  <title>EAsociados</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyAhW48Z9ZEnaGJFTcVgMx7XJIw2ksykyKs" type="text/javascript"></script>
  <link href="https://file.myfontastic.com/ME4v9LQpwZf4R4XXspqMWS/icons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header ed-container full">
	<div class="ed-item s-20 l-5 abcenter logo-contenedor">
		<a class="logo-link" href="/" >
			<img class="logo " src=<%=asset_path 'logo.png'%> />
		</a>
	</div>
	<div class="ed-item s-80 l-90 abcenter menu-nav" id="main-nav" >
		<ul class="menu" id="main-menu">
			<a href="" style="display: inline;"><img class="menu-logo to-l" src=<%=asset_path 'logo.png'%> /></a>
			<li class="menu-item"><a href="#" class="menu-link">¿Quiénes somos?</a>
			<li class="menu-item"><a href="#" class="menu-link">Servicios</a>
				<%if !@servicios_global.nil?%>
					<ul class="submenu">
						<%@servicios_global.each do |servicio|%>
							<li class="submenu-item"><a href="/servicios/<%=servicio.id%>" class="submenu-link"><%=servicio.nombre%></a></li>
						<%end%>
						<!--
						<li class="submenu-item"><a href="#" class="submenu-link">Capacitación</a></li>
						<li class="submenu-item"><a href="#" class="submenu-link">Consultoría</a></li>
						<li class="submenu-item"><a href="#" class="submenu-link">Encuestas</a></li>
						<li class="submenu-item"><a href="#" class="submenu-link">Investigación</a></li>
						<li class="submenu-item"><a href="#" class="submenu-link">Proyectos</a></li>-->
					</ul>
				<%end%>
			</li>
			<li class="menu-item"><a href="/sectores" class="menu-link">Sectores</a></li>
			<li class="menu-item menu-item-activo"><a href="/equipo" class="menu-link">Equipo</a></li>
			</li>
			<li class="menu-item"><a href="#" class="menu-link">Unete</a>
				<ul class="submenu">
					<li class="submenu-item"><a href="/contacto" class="submenu-link">Ubícanos</a></li>
					<li class="submenu-item"><a href="/recursos" class="submenu-link">Desarrolla tu talento</a></li>
					<li class="submenu-item"><a href="/suscribir" class="submenu-link">Entérate</a></li>
					<li class="submenu-item"><a href="/postular" class="submenu-link">Postula</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="/contacto" class="menu-link">Contacto</a>
				
			</li>
		</ul>
	</div>
	<div class="ed-item s-10 l-5" style="position:relative;">
		<div class="menu-toggle to-l" id="main-nav-toggle" >
			
		</div>
	</div>
</div>
<%= yield %>


<div class="ed-container full footer abcenter ">
	<div class="ed-item s-100 m-90 l-70 xl-60 ed-container footer-contenedor ">
	<div class="ed-item s-100 m-1-3" >
		<h4 class="footer-titulo">Economistas Asociados</h4>
		<p class="footer-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quis suscipit, dignissimos, exercitationem illum provident atque aspernatur! Consectetur culpa debitis.</p>

		<div class="footer-contacto">
			<span class="footer-contacto-lugar">Piura, Perú</span>
			<p class="footer-contacto-direccion icon-ubicacion">Calle las Dalias D1-5 Interior 101 Urb.Miraflores</p>
			<p class="footer-contacto-correo icon-email">williarhidalgo@gmail.com</p>
			<p class="footer-contacto-telefono icon-phone">968499806</p>
		</div>
		<div class="footer-sociales">
			<a href="https://www.facebook.com" class="footer-sociales footer-sociales-facebook icon-facebook"></a>
			<a href="https://www.twitter.com" class="footer-sociales footer-sociales-twitter icon-twitter"></a>
		</div>
	</div>
	<div class="ed-item s-100 m-1-3" >
		<h4 class="footer-titulo">Links Interesantes</h4>
		<ul class="footer-lista">
			<li class="footer-item">
				<a class="footer-link" href="/">Inicio</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="/servicios">Servicios</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="/sectores">Sectores</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="/equipo">Equipo</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="#">¿Quienes somos?</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="/contacto">Contacto</a>
			</li>
		</ul>
	</div>
	<div class="ed-item s-100 m-1-3" >
		<h4 class="footer-titulo">Últimos Anuncios</h4>
		<div class="footer-anuncios">
			<div class="anuncio ed-container">
				<%@publicaciones_global.each do |pub|%>
					<div class="ed-item anuncio-item s-100 no-padding">
						<a class="anuncio-titulo" href="#"><%=pub.titulo%></a>
					</div>
				<%end%>
				

			</div>
		</div>
	</div>
	</div>
	</div>

</body>
</html>
